<!--
  Generated template for the ColorsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>
      <i class="large material-icons" style="font-size: 4rem !important; margin-top: 7px;">airplay</i>
    </ion-title>
  </ion-navbar>

</ion-header>

<div class="box-colors-up back-color">
  <div class="container center" *ngIf="bolCalib">
    <h5 class="white-text box-top">
      <b>Calibrando...</b>
    </h5>
    <div class="progress">
      <div class="indeterminate"></div>
    </div>
  </div>
</div>
<div class="box-colors pulse" id="boxcolor"></div>