page-colorsambiente {

    background-color: #28242c;


    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    .box-colors{
        width: 90%;
        height: 84vh;
        position: absolute;
        top: 13.5%;
        transform: translateY(-5%);
        left: 50%;
        transform: translateX(-50%);
    }
    
    .box-colors-up{
        width: 90%;
        height: 84vh;
        position: absolute;
        top: 13.5%;
        transform: translateY(-5%);
        left: 50%;
        transform: translateX(-50%);
        z-index: 99999;
    }
    .box-top{
        margin-top: 60%;
    }
}
