page-home {

    background: linear-gradient(#3498db, #040041);

    .custom-colors{
        position: absolute;
        bottom: 0px;
        z-index: -999;
    }

    .custom-welcom{
        color: #525955;
        font-family: 'IBM Plex Sans', sans-serif;
        font-size: 30px;
        font-weight: bolder;
        margin-top: 10%;
    }

    .custom-p{
        color: #525955;
        font-family: 'IBM Plex Sans', sans-serif;
        font-size: 18px;
    }

    .custom-input{
        color: white;
        font-weight: bold;
        font-size: 18px !important;
        width: 88% !important;
    }

    .custom-btn{
        color: white !important;
        background-color: #525955 !important;
        font-family: 'IBM Plex Sans', sans-serif;
        width: 80% !important;
        font-weight: bolder;
        font-size: 20px;
        margin-top: 10px;
        height: 60px;
    }

    .custom-icon{
        max-width: 200px;
        margin-top: 20%;
    }

    .custom-card{
       padding: 10px;
       font-weight: bold;
       color: #16397B;
       font-size: 14px !important;
    }
}


