<div class="center container">
  <img src="./assets/icon.png" class="responsive-img animated fadeIn custom-icon" alt="">
</div>
<br>
<div class="container">
  <div class="center">
    <input type="text" [(ngModel)]="formData.name" name="formData.name" placeholder="Nome da sala" class="center custom-input animated fadeInUp">
    <!-- <button class="btn custom-btn animated fadeInUp" (click)="PushPage()">VAMOS</button> -->
    <div class="container center">
      <div class="card custom-card animated fadeInUp center" (click)="PushPage()">
        <i class="material-icons center medium">cast_connected</i>
        <br>
        <b>Vamos</b>
      </div>
      <div class="card custom-card animated fadeInUp center" (click)="Pushambiente()">
        <i class="material-icons center medium">hearing</i>
        <br>
        <b>Som Ambiente</b>
      </div>
    </div>
    <!-- <button class="btn custom-btn animated fadeInUp" (click)="Pushambiente()">AMBIENTE</button> -->
  </div>
</div>
<!-- <img src="./assets/cores.png" class="responsive-img animated fadeIn custom-colors" alt=""> -->